---

---

<header class="bg-zinc-700 flex flex-col md:flex-row p-10 gap-3 text-center md:text-left lg:rounded-b-xl">
  <div>
    <h1 class="text-5x1 font-bold">Protect your password</h1>
    <p class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt libero qui totam dicta asperiores veniam exercitationem nemo repudiandae obcaecati earum.</p>
    <button class="bg-custom-blue px-3 py-2 my-3 hover:bg-custom-hover">Start Now</button>
  </div>
  <img src="images/security.svg" alt="img" class="w-80" />
</header>