---
import Layout from '../layouts/Layout.astro'
---

<Layout title="About">
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam sunt libero qui totam dicta asperiores veniam exercitationem nemo repudiandae obcaecati earum, est distinctio recusandae amet porro modi eaque. Explicabo, officia.</p>
<Layout/>