<nav class="bg-custom-hover flex justify-center items-center p-4">
  <ul id="navList" class="w-full lg:w-3/6 flex justify-between items-center space-x-4">
    <img src="favicon.svg" alt="logo" class="cursor-pointer w-8 stay">
    <li class="hidden lg:flex cursor-pointer hover:text-blue-600">Hero</li>
    <li class="hidden lg:flex cursor-pointer hover:text-blue-600">About</li>
    <li class="hidden lg:flex cursor-pointer hover:text-blue-600">Projects</li>
    <li class="hidden lg:flex cursor-pointer hover:text-blue-600">Footer</li>
    <div class="flex lg:hidden cursor-pointer stay">
      <svg id="menu-burguer" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <svg id="menu-burguer-close" class="h-6 w-6 hidden" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </div>
  </ul>
</nav>

<script src="../helpers/navbar.js"></script>